:root {
    --max: 18rem;
    --width-menu-lateral: 255px;
}

.label-up {
    position: absolute;
    top: -7px;
    background: white;
    left: 10px;
    padding: 0px 3px;
    font-size: 11px;
    color: black;
}

.separator {
    height: 0.8px;
    background-image: repeating-linear-gradient(90deg, #CBD4E1 18px, #CBD4E1 21px, transparent 1px, transparent 24px);
}

.form-input {
    border-color: #e2e8f0 !important;
    border-radius: .25rem !important;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, .5) !important;
    border-color: #63b3ed !important;
}

.form-select {
    border-color: #e2e8f0 !important;
    border-radius: .25rem !important;
}

.form-select:focus {
    outline: none !important;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, .5) !important;
    border-color: #63b3ed !important;
}

.form-checkbox {
    appearance: none;
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
    height: 1em;
    width: 1em;
    color: #4299e1;
    background-color: #fff;
    border-color: #e2e8f0;
    border-width: 1px;
    border-radius: .25rem;
}

.form-checkbox:focus {
    outline: none !important;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, .5) !important;
    border-color: #63b3ed !important;
}

.w-content { width: fit-content; }
.h-content { height: fit-content; }

.screen-minus-111 {
    height: calc(100vh - 111px);
}
